/*
css, mtix create by Chiko Safaraz, 2017
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

@font-face {
    font-family: asap_font;
    src: url("fonts/Asap-Regular-webfont.woff");
}

html, body{
    /*background-color: #e9ebee;*/
    background-image: url("../images/bg.png");
    font-family: asap_font;
    font-size: 100%;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
}

.scrolltable { 
    margin-right: 10px;
    margin-left: 10px;
    overflow: auto; 
}
.scrolltable th div { 
    position: absolute; 
}

body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    font-family: asap_font;
}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #005350;
    font-family: asap_font;
}
a {
    background-color:none;
    text-decoration:none;
    color: #0b0b0b;
    font-family: asap_font;
}
body p{
    font-family: asap_font;
    font-family: asap_font;
}
h1, h2, h3, h4, h5 {
    font-family: asap_font;
}
h4 {
    font-size: 25px;
    color: #777;
    font-family: asap_font;
}

.btn-success {
    background-color: #006666; 
    border-color: #005350;
    font-family: asap_font;
}

.btn-success:hover {
    background-color: #005350; 
    border-color: #006666;
    font-family: asap_font;
}

.lalala {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 100%;
    font-weight: normal;
    background: none;
    color: #000000;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
    font-family: asap_font;
}
input[type="checkbox"] {
    vertical-align: middle;
    height: 20px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #000000;
    outline: none;
    font-size: 14px;
    margin-top: 0px;
    font-family: asap_font;
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -o-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: asap_font;
}

.input_hidden {
    opacity: 0.0; 
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0;
    padding: 0px; 
    margin-bottom: 0px;
    position: absolute;
    left: -9999px; 
    overflow: hidden;
}

/*MAIN CONTENT*/
.main-content {
    margin: auto;
    margin-bottom: 10px;
    max-width: 850px;
    background-color: #FFF;
    padding: 10px;
    margin-top: 80px;
}

div#page-wrapper {
    margin: 0 auto;
    width: 100%;
}

footer {
    background:#FFFFFF;
    padding: 12px;
    width: 100%;
    border-top: 1px solid #423D3E;
    text-align:center;
    position: fixed;
    bottom: 0;
}
footer  p {
    color: #000;
    font-size: 1em;
}
footer  p a{
    color:#111;
}
footer  p a:hover{
    text-decoration:underline;
}

.page-left{
    float:left;
    width:68%;
    margin-bottom: 10px;
}
.page-right{
    position: absolute;
    float:right;
    top: 100px;
    right: 10px;
}
/*-- main --*/


/*NAVBAR*/
.nav_bar-animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-mtix {
    height: 65px;
    background-color: #005350;
    border-color: #eee;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 0px;
    padding: 5px;
    z-index: 100;
}
.navbar-mtix:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}
.navbar-mtix.affix-top {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar-mtix.affix {
    top: 0px;
    width: 100%;
}
.navbar-mtix .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-mtix .navbar-brand {
    color: rgb(95, 176, 228);
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 0px;
}
.navbar-mtix .glyphicon_child {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-mtix .navbar-nav > li > span {
    font-size: 14px;
    border: 0px solid rgb(95, 176, 228);
    color: rgb(120, 120, 120);
    padding: 15px 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-mtix .navbar-nav > li > a {
    font-size: 14px;
    border: 0px solid rgb(95, 176, 228);
    color: #FFF;
    padding: 15px 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.navbar-mtix .navbar-nav > li > form > .input-group > input,
.navbar-mtix .navbar-nav > li > form > .input-group > .input-group-btn > .btn {
    border-radius: 0px;
}


.navbar-mtix .navbar-nav > li:not(.disabled).open > a,
.navbar-mtix .navbar-nav > li:not(.disabled).active > a,
.navbar-mtix .navbar-nav > li:not(.disabled) > a:hover, 
.navbar-mtix .navbar-nav > li:not(.disabled) > a:focus {
    border-left-width: 5px;
    color: #000;
    padding-left: 10px;
}
.navbar-mtix .navbar-nav > li.disabled > a {
    color: rgb(200, 200, 200);
}
.navbar-mtix .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 220px;
    padding: 0px;
}
.navbar-mtix .navbar-nav > li:not(.dropdown-right) > .dropdown-menu {
    left: 0px;
    margin-left: -1px;
    right: auto;
}


.navbar-mtix .navbar-nav > li > .dropdown-menu > li > a {
    border-left: 0px solid rgb(95, 176, 228);
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar-mtix .navbar-nav > li > .dropdown-menu > li.active > a, 
.navbar-mtix .navbar-nav > li > .dropdown-menu > li > a:hover, 
.navbar-mtix .navbar-nav > li > .dropdown-menu > li > a:focus {
    background-color: rgb(245, 245, 245);
    border-left-width: 5px;
    padding-left: 15px;
}
.navbar .mtix-profile > .dropdown-toggle {
    margin: 0px;
    padding: 10px;
}
.navbar .mtix-profile > a {
    padding-bottom: 10px; 
    padding-top: 10px; 
}
.navbar .mtix-profile > a > img {
    border-radius: 50%;
    width: 32px;
}
.navbar .mtix-profile > .dropdown-menu {
    margin:0px;
    padding: 0px;

}
.navbar .mtix-profile > .dropdown-menu > li > .row {
    padding: 5px 15px;
}
.navbar .mtix-profile > .dropdown-menu > li > .row img {
    width: 100%;
}
.navbar-mtix .navbar-search {
    display: none;
    border-color: #eee;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 10px;
}
.navbar-mtix .navbar-search .form-control {
    background-color: #fff;
    border-radius: 0px;
    border-width: 0px;
    font-size: 12px;

}
.navbar-mtix .navbar-search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-mtix .navbar-search .input-group-btn > .btn {
    border-radius: 0px;
    margin: 0px;
}
.navbar-mtix .navbar-search .input-group-btn > .btn.active,
.navbar-mtix .navbar-search .input-group-btn > .btn:hover,
.navbar-mtix .navbar-search .input-group-btn > .btn:focus {
    border-radius: 0px;
    margin: 0px;
}


.navbar-mtix .navbar-search .input-group-btn > .btn-default {
    background-color: rgb(245, 245, 245);
}
.nav-padding {
    padding-top: 61px;
}

@media only screen and (max-width: 991px) {
    .navbar-mtix {
        height: auto;
    }
    .navbar-mtix .navbar-brand {
        margin-left: 10px;
    }
    .navbar-mtix .navbar-collapse {
        margin-left: 5px;
        margin-right: 5px;

    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;

    }
    .navbar-nav>li {
        float: none;
    }

    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-mtix .navbar-nav > li > .dropdown-menu > li > a {
        color: #FFF;
    }

}

.carousel-inner {
    margin-top: 60px;
}


/*--Loading--*/
.loading {
    color: #FFF;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}
.loading span{
    display: block;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.countdown {
    display: inline-block;
    padding: 8px 13px;
    background: #000    ;
    font-size: 0.6em;
    color: #fff;
    -webkit-appearance: none;
    border: 1px solid #ff0;
    outline: none;
    vertical-align: top;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

.badge-notify{
    background:red;
    position:relative;
    top: -48px;
    left: 20px;
    font-size: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/*--footer--*/
.footer {
    background:#222;
    padding: 1em 4em 2em 2em;
    font-size: 12px;
}


.div_space{
    width: 100%;
    height: 11px;
    padding: 0;
}

span.caret {
    padding: 0!important;
}

.hr_separator {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.span_header {
    position:relative; 
    z-index: 1; 
    background-color: #005350;
    margin-bottom: -5px;
    border-image: none;
}

.span_header_white {
    position:relative; 
    z-index: 1; 
    background-color: #FFFFFF;
    margin-bottom: -5px;
    border-image: none;
    border-bottom: #eee 1px solid;
}

/* box_title*/
.box_title {
    padding-top: 10px;
    margin: 0px;
    background-color: #FFF;
    border-color: #eee;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -o-border-top-left-radius:4px;
    -o-border-top-right-radius:4px;
    -moz-border-top-left-radius:4px;
    -moz-border-top-right-radius:4px;
}
.box_title:last-child {
    margin-bottom: 0px;
}
.box_title h4 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 10px;
    color: #777;
}
.resume .list-group-item:first-child, .resume .list-group-item:last-child{
    border-radius:0;
}

/* BOX_WHITE*/
.box_white {
    padding-top: 10px;
    margin: 0px;
    background-color: #FFF;
    border-color: #eee;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #FFFFFF;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -o-border-bottom-left-radius:4px;
    -o-border-bottom-right-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -o-border-top-left-radius:4px;
    -o-border-top-right-radius:4px;
    -moz-border-top-left-radius:4px;
    -moz-border-top-right-radius:4px;
}
.box_white:last-child {
    margin-bottom: 0px;
}
.box_white h4 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 10px;
}
.resume .list-group-item:first-child, .resume .list-group-item:last-child{
    border-radius:5px;
}

/* dropdown-submenu*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/***form_management***/
.form-mag{
    background-color: #FFFFFF; 
    padding-top: 20px; 
    padding-bottom: 10px;
    border-color: #eee;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -o-border-bottom-left-radius:4px;
    -o-border-bottom-right-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -o-border-top-left-radius:4px;
    -o-border-top-right-radius:4px;
    -moz-border-top-left-radius:4px;
    -moz-border-top-right-radius:4px;
}
.form-mag label{
    margin-bottom: 10px;
}

.nav_theater {
    background: #ffffff;
    border-color:#005350;
    padding: 0px;
    margin-top: 0px;
}

.nav_theater_content {
    width: 100%;
    margin-top:10px;
    margin-bottom:50px;
}